<style>
@import url('https://fonts.googleapis.com/css?family=Concert+One');
@import url('https://fonts.googleapis.com/css?family=Chakra+Petch');
</style>

body {
cursor:url('http://m.qpic.cn/psb?/V10l76Zq2vdYRV/fv8oRW4DUvXLPMxyuU0FH3wXmM2x6.eB2OxiG14z9d0!/b/dGcBAAAAAAAA&bo=IAAgACAAIAADGTw!&rf=viewer_4&t=5'),all-scroll;
font-family: 'Chakra Petch', sans-serif;
font-size: 10px
}

body{
    cursor:url('http://m.qpic.cn/psb?/V10l76Zq2vdYRV/fv8oRW4DUvXLPMxyuU0FH3wXmM2x6*.eB2OxiG14z9d0!/b/dGcBAAAAAAAA&bo=IAAgACAAIAADGTw!&rf=viewer_4&t=5'),all-scroll;
      }

  /*   .parallax {
          background: url("images/mikael-kristenson.jpg");
          - Set a specific height -
          height: 300px;
          - Create the parallax scrolling effect -
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover
        }
        <div class="parallax"></div>
        */

.etape {
  background : url('../images/flower.svg') top center no-repeat;
  background-size: cover;
}

.titre {
font-family: 'Chakra Petch', sans-serif;
  }

.texte {
 text-align: center;
  width: 500px; block;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
      text-justify: inter-word;
}

.flex-container{
display: flex;
flex-wrap: wrap;
align-items: center;
position: absolute;
justify-content: space-around;
justify-content: center;
}

.bouton1{
  list-style-type: none;
  position : relative;
  }

.bouton2{
  list-style-type: none;
  position :relative;
  }

  video{
    max-width: 900px;
  }

h1, h2{
font-family: 'Chakra Petch', sans-serif;
}

h1 {
  font-size: 70px;
  text-align : center;
  color: rgb(150, 145 , 175)
  }

h2{
text-align : center;
font-family: 'Concert One', cursive;
}


.topnav li {

/*    background-color: rgb(31, 6, 20);
    overflow: hidden;
    align-content: center; */
}
.topnav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  background: rgb(150, 145 , 175);
  padding: 14px 0;
  border-radius: 50px;
  }
.topnav a {
  font-family: 'Concert One', cursive;
  padding: 14px 16px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  }
/*    float: left;
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;

    text-decoration: none;
    font-size: 17px; */
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
.active {
    background-color: rgb(225, 220 , 235);
    color: white;
}
.topnav .icon {
    display: none;
}
